docker>=7.1.0
matplotlib
numpy
pandas
pika
plotly
pyhocon
pytz
requests
scipy
sympy
argparse
google
pymongo
flask-restful
flask
protobuf
protobuf3-to-dict
gtfs-realtime-bindings
apscheduler
multiprocessing